
#header{
    position: absolute;
    top:13px;
    left: 13px;
    color:white;
    /* background-color: blue; */
    font-size: 11px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#ExtensionHeader{
    height: 40px;
    width: 100%;
    background-color: #171717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#stylep{
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #171717;
    color:white;
    /* z-index: 8; */
    font-size: 11px;
}

#extensionBody{
    height: 380px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #171717;
    color:white;
    font-size: 11px;

}
#changeTheme{
    color: white;
    border: none;
    padding: 9px;
    border-radius:7px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    width: 160px;
    cursor: pointer;

    font-size: 11px;
    transition: 0.3s ease-in;
  
  }
  
  #changeTheme:hover{
  color: rgb(235, 235, 235);
  
  background-color: #1b1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  .icon{
      font-size: 11px;
      color: rgb(255, 255, 255);
      font-weight: 300;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* background-color: blueviolet; */
  }
#selectionArrow {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 10px solid red;
    }


    #close{

        border-radius: 50%;
        height: 13px;
        width: 13px;
        background-color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#171717;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        overflow: hidden;
        right: 10px;
        font-size: 10px;
        cursor: pointer;
    }

    #minimize{

        
        border-radius: 50%;
        height: 13px;
        width: 13px;
        background-color: rgb(255, 111, 0);
        color:#171717;
        display: flex;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        position: absolute;
        top: 10px;
        overflow: hidden;
        right: 30px;
        font-size: 10px;
        cursor: pointer;
    }

    #displayArea{
        height: 50%;
        width: 100%;
        /* background-color: #242424; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #toggleEditMode{

        color: white;
        border: none;
        padding: 9px;
        border-radius:7px ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #242424;
        width: 160px;
        cursor: pointer;

        font-size: 11px;
        transition: 0.3s ease-in;
    }

    #color-0{
        background-color: blueviolet;

    }
    
    #color-1{
        background-color: burlywood;
    }
    #color-2{
background-color: violet;
    }
    #color-3{
background-color: tomato;
    }
    #color-4{
        background-color: aqua;
            }















            .color-picker {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #171717;
              
                padding: 6px 23px 9px 23px;
                border-radius: 9px;
                box-shadow: 4px 1px 13px 2px black;
                position: relative;
                height: 160px;
                width: 130px;
              }
              
              canvas {
                border: 1px solid #ccc;
                cursor: pointer;
                margin-top: 10px;
                border-radius: 9px;
              }
              
              input[type="range"] {
                -webkit-appearance: none;
                width: 100px;
                height: 7px;
                border-radius: 5px;
                margin: 10px 0;
              }
              
              input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #fff;
                border: 2px solid #000;
                cursor: pointer;
              }
              
              input[type="text"] {
                width: 100px;
                padding: 5px;
                border: 1px solid #525252;
                border-radius: 4px;
                position: relative;
                color: white;
                background-color: #242424;
                border-radius: 6px;
              }
              .color-overlay {
                position: absolute;
                right: 23px;
                bottom: 32px;
                width: 20px;
                height: 20px;
                background-color: rgba(255, 0, 0, 0.3);
                border-radius: 4px;
                z-index: 2;
              }
              
              .color-preview {
                width: 100px;
                height: 100px;
                border: 1px solid #ccc;
                margin-top: 20px;
              }


              .no-select {
                user-select: none; /* For modern browsers */
                -webkit-user-select: none; /* For Safari */
                -moz-user-select: none; /* For Firefox */
                -ms-user-select: none; /* For Internet Explorer/Edge */
            }